<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia de Japón</title>
</head>

<body>
    <div class="subcategory">
        <h2>Historia de Japón</h2>

        <section id="subCategoryArticles">
            <article>
                <div id="articleTitle">
                    <h3>Orígenes</h3>
                </div>
                <div id="articleContent">
                    Según la leyenda descrita en el Kojiki y en el Nihonshoki, Japón fue fundado en el siglo VII a. C. por el Emperador Jinmu. Durante los siglos V y VI, el sistema caligráfico chino y el budismo fueron introducidos junto con otras costumbres chinas a través
                    de la península coreana o directamente desde China. Los emperadores fueron gobernantes oficiales, pero el verdadero poder permanecía generalmente en manos de poderosas cortes nobles, regentes o shogunes.
                    <img src="/assets/img/primer emperador.jpg" alt="">
                </div>
            </article>
        </section>

        <section id="subCategoryArticles">
            <article>
                <div id="articleTitle">
                    <h3>La Guerra Boshin</h3>
                </div>
                <div id="articleContent">
                    Durante un largo período, el restablecido contacto con Occidente provocó cambios en la sociedad japonesa. Tras un fuerte conflicto civil denominado Guerra Boshin, el shogunato fue obligado a renunciar y el poder fue devuelto al emperador. La Restauración
                    Meiji de 1868 inició varias reformas. El sistema feudal fue abolido y numerosas instituciones occidentales fueron adoptadas, incluyendo un sistema legal y de gobierno occidentales, junto con otras reformas en lo económico, social y
                    militar que transformaron a Japón en una potencia mundial de nivel medio-alto.
                </div>
            </article>
        </section>

        <section id="subCategoryArticles">
            <article>
                <div id="articleTitle">
                    <h3>Japón en el siglo XX</h3>
                </div>
                <div id="articleContent">
                    Así se afianzó de manera definitiva como una potencia mundial y la única de Asia. Después de la Primera Guerra Mundial, 1918, Japón ocupaba una sólida posición en el Lejano Oriente; contaba con la Armada más poderosa de la zona, ejercía gran influencia
                    sobre China y se había beneficiado económicamente de la guerra (se ocupaba de los pedidos de los países asiáticos, a los que el resto de las potencias no lograban atender). Durante la década de los años 1920, surgieron problemas que
                    la democracia no pudo resolver. Por un lado, los grupos más conservadores como la milicia, los pares, etc. que se encontraban posicionados en la cámara alta del parlamento y en el Consejo, consideraban que la democracia era muy débil.
                    La corrupción dentro del gobierno era insostenible, las acusaciones entre los miembros de la Cámara Baja provocaban continuamente disturbios. El auge comercial que había alcanzado tras la Primera Guerra Mundial disminuyó cuando en
                    1921, Europa comenzó su recuperación. Tuvo nefastas consecuencias de la Gran depresión, aumento de las tarifas de los países extranjeros para los productos japoneses y la pobreza que se vio reflejada en el norte donde los humildescampesinos
                    culpaban al gobierno nipón de sus desdichas (muchos aldeanos se sumaron al ejército). La suma de estos problemas y la actitud de China, tratando de desplazar los negocios japoneses, derivó en la invasión a Manchuria (septiembre de
                    1931). Esta invasión se produjo sin la autorización del gobierno nipón. Cuando el primer ministro Inukai reprobó los actos extremistas, fue asesinado por un grupo de oficiales de marina (15 de mayo de 1932), y su sucesor consideró
                    que debía apoyar las acciones del ejército y así fue que durante los 13 años siguientes: el gobierno adoptó un estricto control de la educación, fortalecimiento del arsenal bélico y una política exterior agresiva orientada a conquistar
                    territorios. Esto culminó en una nueva invasión de Manchuria, desatando la Segunda Guerra Sino-Japonesa. Japón atacó la base naval estadounidense de Pearl Harbor en diciembre de 1941, lo cual llevó al país norteamericano a declarar
                    la guerra al Imperio Japonés en el marco de la Segunda Guerra Mundial. Después de una larga campaña en el Pacífico, Japón perdió Okinawa y fue forzada a retroceder a las cuatro islas principales. El ejército estadounidense atacó Tokio,
                    Osaka y otras ciudades con bombardeos estratégicos convencionales y en Hiroshima y Nagasaki con dos bombas atómicas. Japón finalmente aceptó la capitulación incondicional ante el ejército estadounidense el 15 de agosto de 1945 dando
                    con ello fin a la guerra. Finalizado el conflicto, el ejército estadounidense ocupó el territorio japonés hasta 1952, tras lo cual Japón comenzaría una muy importante recuperación económica que devolvería la prosperidad al archipiélago.
                    Okinawa permaneció ocupada hasta 1972, y actualmente el ejército estadounidense mantiene un centenar de bases en este país.
                </div>
            </article>
        </section>

    </div>
</body>

</html>